$height = 200

center()
  display flex
  align-items center
  justify-content center

html
  overflow hidden

*
  padding 0
  margin 0
  border 0
  transition all .3s ease-out
  user-select none
  pointer-events none

.root
  center()
  overflow hidden
  height 100vh
  width 100vw
  font-family sans-serif;
  background radial-gradient(#294c84, #000) no-repeat center;
  background-size 100%;
  perspective 1000px
  transform-style preserve-3d;

.view
  transform-style preserve-3d;
  margin-top 200px

.fadeIn
  animation 2s fadeIn

@keyframes fadeIn
  0%
    opacity 0
  50%
    opacity 0
  100%
    opacity 1

.plate
  center()
  height 500px
  width 500px;
  border 30px dotted #b94c0a;
  border-radius 50%
  background rgba(245, 215, 110, .5)
  color black;
  font-weight bold
  font-size 80px;
  text-align center
  text-shadow 3px 0 #fff, 0 3px #fff, -3px 0 #fff, 0 -3px #fff;

  transform rotateX(0deg)
  transform-style preserve-3d;

  @media (max-width 500px)
    width 400px
    height 400px

  &.top
    animation radial 1s ease-out infinite alternate
    background-image radial-gradient(yellow, red);

  &.bottom
    position absolute;
    top 0;
    transform translateZ($height px)

    &:before
      content ''
      position absolute
      height 100%
      width 100%
      background-image radial-gradient(#8c3b09, #b94c0a);
      border-radius 50%
      transform translateZ(-210px) rotateX(180deg) scale(1.15)

.wall
  center()
  position absolute
  height $height px
  width 250px
  background-color rgba(245, 215, 110, .5)
  transform rotateX(90deg) translateY(-50%)

  for n in 1 2 3 4 5 6 7 8 9 10 11 12
    &:nth-child({ n })
      transform rotateX(90deg) translateY(50%) rotateY(n * 30deg) translateX(250px) rotateY(90deg)

.fire
  position relative
  height 100px
  width 100px
  transform-origin 0 0 0
  transform-style preserve-3d;
  transition-duration .5s
  opacity 0

  &.animation
    opacity 1;
    animation flame .3s ease-out infinite alternate

  & > div
    border-top-right-radius 50%
    border-bottom-left-radius 50%

  & > div:nth-child(1)
    height 100%
    width 100%
    background-color red
    box-shadow 0 0 30px red

  & > div:nth-child(2)
    position absolute
    top 1%
    left 1%
    height 60%
    width 60%
    background-image radial-gradient(yellow, red);
    transform-origin 0 0 0

@keyframes flame
  0%
    opacity .7
    transform translateY(150px) scaleX(.5) scaleY(1.2) rotateZ(45deg)
  100%
    opacity 1
    transform translateY(150px) scaleX(.5) scaleY(1) rotateZ(45deg)

@keyframes radial
  0%
    background-color yellow
  100%
    background-color red













